<!DOCTYPE html>
<html>
<head>
  <title>Audit</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div class="container card">
<h3>Audit Logs</h3>
<table><thead><tr><th>Time</th><th>User</th><th>Action</th><th>Reason</th></tr></thead>
<tbody id="a"></tbody></table>
</div>

<script src="js/db.js"></script>
<script src="js/auth.js"></script>
<script>
requireAuth(); openDatabase().then(async()=>{
  (await getAllRecords("auditLogs")).forEach(l=>{
    a.innerHTML+=`<tr><td>${l.time}</td><td>${l.user}</td><td>${l.action}</td><td>${l.reason}</td></tr>`;
  });
});
</script>

</body>
</html>
